#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: serif, Arial;
}

main {
  min-height: 75vh;
  width: 100%;
  overflow: scroll;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.flex-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 2rem;
  gap: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .flex-space-around {
    flex-direction: column;
  }

}
.sidebar-container {
  flex: 1;
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .sidebar-container {
    flex-direction: row;
  }
  .menu {
    flex-direction: row; 
  }
  
}
.round-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #efebe7;
}
.main-container {
  flex: 4;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  align-items: center;
  overflow: scroll;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Header Section start here */

.header {
  display: flex;
  background-color: #efebe7;
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 110px;
  top: 1px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;

  padding: 0.5rem;
}
.img__logo {
  width: 150px;
  height: 100%;
  margin-top: 1.5rem;
  object-fit: cover;
  background-position: center;
  mix-blend-mode: multiply;
}
nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.nav__link {
  color: black;
  text-decoration: solid;
  font-size: 1rem;
  transition: all 0.3s;
}
.nav__link:hover {
  color: #c6824c;
  text-decoration: overline;
}
/* Header Section End */

/* Footer Section Start Here */
.footer {
  /* background-color: #efebe7; */
  /* padding: 0.5rem; */
  width: 100%;
}
.footer-top {
  background-color: #efebe7;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  padding: 2rem;
}
@media screen and (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.5rem;
}
.footer__left a {
  text-decoration: underline;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__line {
  color: black;
  background-color: black;
  height: 0.1rem;
  margin: 0.5rem;
}
.contact-icons {
  color: #272e26;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

/* Footer Section End */

.update-form {
  display: flex;
  flex-direction: column;
  background-color: #efebe7;
  gap: 1rem;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.cart-icon{
  height: 100%;
  position: relative;
}
.badge {
  position: absolute;
  background-color:#c6824c;
 font-size: 13px;
  border-radius: 10px;
  top: -14px;
  right: -10px;
  padding: 1px 6px;
}
/* colors    EFEBE7   FBF7F1   EEEAE6     474543  C6824C */
