.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1rem;
  overflow: scroll;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .products__container {
    grid-template-columns: repeat(1, auto);
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  text-align: center;
  gap: 0.5rem;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.product__img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  border: 1px solid #c6824c;
}
.product-title {
  /* color: #C6824C; */
}
.product-price {
  color: #c6824c;
}
.product-description {
  line-height: 1.5em;
  height: 3em; /* height is 2x line-height, so two lines will display */
  overflow: hidden;
}
.products-container__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart {
  background-color: #c6824c;
}
.cart:hover {
  background-color: #474543;
}
.line {
  color: #efebe7;
  background-color: #efebe7;
  height: 0.1rem;
  width: 100%;
  margin: 0.5rem;
}
.sort-by {
  color: white;
  background-color: #c6824c;
  border-radius: 0.5rem;
  padding: 0.2rem;
  text-align: center;
}
.search-bar {
  outline-color: #c6824c;
  border-radius: 0.5rem;
  border-color: #efebe7;
  background-color: white;
  border-width: 0.01rem;
  width: 100%;
  padding: 0.6rem;
}
.action {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
/* colors    EFEBE7   FBF7F1   EEEAE6     474543  C6824C */
