#root {
  max-width: 1880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: serif,Arial;
  }

  main{
    min-height: 75vh;
    overflow: scroll;
  }


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

 

 /* Header Section start here */
.cart{
  background-color:#C6824C ;
}
.header{
  display: flex; 
  background-color: #EFEBE7;
  position: sticky;
  border-radius: 10px;
  width: 100%; 
  height: 10rem;
  top:1px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

}
.img__logo{
 width: 150px;
 height:100px;
 margin-top: 1rem;
 object-fit:cover;
  background-position: center;
  mix-blend-mode: multiply;
}
nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.nav__link {
  color: black;
  text-decoration: solid;
  font-size: 1rem;
  transition: all 0.3s;
}
.nav__link:hover {
  color: #C6824C;
  text-decoration: overline;
}
 /* Header Section End */


/* Footer Section Start Here */
.footer{
  background-color:#EFEBE7 ;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left{
  display: flex;
  justify-content: center;
 gap: 5px;
}

.footer__left a{
  text-decoration: none;
  color: #272E26;
}
.footer__right{
  color: #272E26;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.fa-brands{
  color: #272E26;
}
/* Footer Section End */













  /* colors    EFEBE7   FBF7F1   EEEAE6     474543  C6824C */